@page
@model On_Demand_Tutor_UI.Pages.Student.ViewWaitingApprove

@{
    ViewData["Title"] = "View Waiting Learning";
}

<h1 class="text-center my-4" style="color: #2c3e50; font-family: Arial, sans-serif;">View Student Bookings</h1>

<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.WaitingLearning[0].DateStart)</th>
                    <th>@Html.DisplayNameFor(model => model.WaitingLearning[0].DateEnd)</th>
                    <th>@Html.DisplayNameFor(model => model.WaitingLearning[0].ServiceName)</th>
                    <th>@Html.DisplayNameFor(model => model.WaitingLearning[0].TutorName)</th>
                    <th>@Html.DisplayNameFor(model => model.WaitingLearning[0].Email)</th>
                    <th>@Html.DisplayNameFor(model => model.WaitingLearning[0].PaymentMethods)</th>
                    <th>@Html.DisplayNameFor(model => model.WaitingLearning[0].Schedules)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.WaitingLearning)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.DateStart)</td>
                        <td>@Html.DisplayFor(modelItem => item.DateEnd)</td>
                        <td>@Html.DisplayFor(modelItem => item.ServiceName)</td>
                        <td>@Html.DisplayFor(modelItem => item.TutorName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        <td>@Html.DisplayFor(modelItem => item.PaymentMethods)</td>
                        <td>
                            <ul class="list-unstyled">
                                @foreach (var slot in item.Schedules)
                                {
                                    <li>@slot</li>
                                }
                            </ul>
                        </td>
                        <td>
                            <form method="post" onsubmit="return confirmCancel()">
                                <input type="hidden" name="bookingId" value="@item.Id" />
                                <button type="submit" class="btn btn-danger" asp-page-handler="Cancel">Cancel</button>
                            </form>
                        </td> 
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer text-end">
        <a asp-page="/Index" class="btn btn-secondary">Back to Index</a>
    </div>
</div>

@section Scripts {
    <script>
        function confirmCancel() {
            return confirm('Are you sure you want to cancel this booking?');
        }
    </script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/jsHub.js"></script>
}
