@page
@model On_Demand_Tutor_UI.Pages.Moderator.IncompleteTutor.IncompleteDetails

@{
    ViewData["Title"] = "Incomplete Tutor Details";
}

<div class="container mt-4">
    <h1 class="mb-4">Incomplete Tutor Details</h1>

    <div class="card">
        <div class="card-header">
            <h4 class="mb-0">@Model.Tutor.Fullname</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-4">Full Name</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Tutor.Fullname)</dd>

                        <dt class="col-sm-4">Email</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Tutor.Email)</dd>

                        <dt class="col-sm-4">Status</dt>
                        <dd class="col-sm-8">
                            <span class="badge bg-warning text-dark">
                                @Html.DisplayFor(model => model.Tutor.Status)
                            </span>
                        </dd>

                        <dt class="col-sm-4">Major</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Tutor.Major)</dd>

                        <dt class="col-sm-4">Grade</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Tutor.Grade)</dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <h5>Description</h5>
                    <p>@Html.DisplayFor(model => model.Tutor.Description)</p>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a asp-page="./IncompleteIndex" class="btn btn-secondary">Back to Menu</a>
        </div>
    </div>
</div>